.whatsapp-button {
  cursor: pointer;
  border-radius: 50% 50% 50% 0;
  transition: all .5s;
  animation: pulse 2s infinite;
  background: #fff;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(37,211,102, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(37,211,102, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(37,211,102, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(37,211,102, 0.4);
    box-shadow: 0 0 0 0 rgba(37,211,102, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(37,211,102, 0);
      box-shadow: 0 0 0 10px rgba(37,211,102, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(37,211,102, 0);
      box-shadow: 0 0 0 0 rgba(37,211,102, 0);
  }
}